include rtk8s/templates/v1/spec/config.yml
include rtk8s/templates/v1/service/docker-compose.yml.j2
include rtk8s/templates/v1/service/nginx/Dockerfile
include rtk8s/templates/v1/service/nginx/nginx.conf.j2
include rtk8s/templates/v1/service/splunk/app.py.j2
include rtk8s/templates/v1/service/splunk/Dockerfile
include rtk8s/templates/v1/service/manifests/deployment.yml.j2
include rtk8s/templates/v1/service/manifests/service.yml.j2
include rtk8s/templates/v1/service/smeiling/requirements.txt
include rtk8s/templates/v1/service/smeiling/Dockerfile
include rtk8s/templates/v1/service/smeiling/manage.py
include rtk8s/templates/v1/service/smeiling/webapp/models.py
include rtk8s/templates/v1/service/smeiling/webapp/views.py.j2
include rtk8s/templates/v1/service/smeiling/webapp/__init__.py
include rtk8s/templates/v1/service/smeiling/webapp/apps.py
include rtk8s/templates/v1/service/smeiling/webapp/admin.py
include rtk8s/templates/v1/service/smeiling/webapp/tests.py
include rtk8s/templates/v1/service/smeiling/webapp/urls.py
include rtk8s/templates/v1/service/smeiling/webapp/migrations/__init__.py
include rtk8s/templates/v1/service/smeiling/webapp/static/app/city_verve_logo.png
include rtk8s/templates/v1/service/smeiling/webapp/static/app/SmEILing.png
include rtk8s/templates/v1/service/smeiling/webapp/static/app/republic_logo.png
include rtk8s/templates/v1/service/smeiling/webapp/static/app/vodafone.png
include rtk8s/templates/v1/service/smeiling/webapp/static/app/content/republic.css
include rtk8s/templates/v1/service/smeiling/webapp/static/app/content/r2.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/widgets.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/login.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/dashboard.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/responsive.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/autocomplete.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/responsive_rtl.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/forms.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/fonts.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/rtl.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/base.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/changelists.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/vendor/select2/select2.min.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/vendor/select2/LICENSE-SELECT2.md
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/css/vendor/select2/select2.css
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/urlify.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/inlines.min.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/core.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/collapse.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/actions.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/prepopulate.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/cancel.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/autocomplete.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/inlines.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/change_form.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/SelectFilter2.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/jquery.init.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/popup_response.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/SelectBox.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/actions.min.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/calendar.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/timeparse.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/prepopulate.min.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/collapse.min.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/prepopulate_init.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/admin/RelatedObjectLookups.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/admin/DateTimeShortcuts.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/jquery/LICENSE-JQUERY.txt
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/jquery/jquery.min.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/jquery/jquery.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/xregexp/xregexp.min.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/xregexp/xregexp.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/xregexp/LICENSE-XREGEXP.txt
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/select2.full.min.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/LICENSE-SELECT2.md
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/select2.full.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/pt.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/vi.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/lv.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/gl.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/pl.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/el.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/et.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/is.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/ko.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/hr.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/ms.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/fi.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/th.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/ru.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/eu.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/mk.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/ja.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/he.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/bg.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/id.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/az.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/ca.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/nb.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/zh-CN.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/zh-TW.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/pt-BR.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/da.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/fa.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/de.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/en.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/sv.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/hi.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/uk.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/cs.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/km.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/fr.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/nl.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/sr.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/hu.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/lt.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/ar.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/sk.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/it.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/es.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/ro.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/js/vendor/select2/i18n/tr.js
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/search.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/icon-calendar.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/icon-clock.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/icon-no.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/tooltag-add.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/inline-delete.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/LICENSE
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/icon-changelink.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/icon-unknown.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/sorting-icons.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/icon-yes.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/icon-addlink.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/icon-unknown-alt.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/icon-deletelink.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/README.txt
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/selector-icons.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/calendar-icons.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/tooltag-arrowright.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/icon-alert.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/gis/move_vertex_on.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/img/gis/move_vertex_off.svg
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/fonts/Roboto-Light-webfont.woff
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/fonts/Roboto-Bold-webfont.woff
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/fonts/Roboto-Regular-webfont.woff
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/fonts/README.txt
include rtk8s/templates/v1/service/smeiling/webapp/static/admin/fonts/LICENSE.txt
include rtk8s/templates/v1/service/smeiling/webapp/templates/registration/login.html
include rtk8s/templates/v1/service/smeiling/webapp/templates/common/layout.html
include rtk8s/templates/v1/service/smeiling/webapp/templates/pages/home/index.html
include rtk8s/templates/v1/service/smeiling/webapp/templates/pages/about/index.html
include rtk8s/templates/v1/service/smeiling/webapp/templates/pages/dashboard/index.html
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/settings.py.j2
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/__init__.py
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/urls.py
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/wsgi.py
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/app/city_verve_logo.png
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/app/SmEILing.png
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/app/republic_logo.png
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/app/config.yml
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/app/content/republic.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/app/content/r2.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/widgets.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/login.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/dashboard.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/responsive.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/autocomplete.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/responsive_rtl.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/forms.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/fonts.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/rtl.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/base.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/changelists.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/vendor/select2/select2.min.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/vendor/select2/LICENSE-SELECT2.md
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/css/vendor/select2/select2.css
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/urlify.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/inlines.min.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/core.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/collapse.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/actions.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/prepopulate.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/cancel.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/autocomplete.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/inlines.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/change_form.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/SelectFilter2.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/jquery.init.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/popup_response.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/SelectBox.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/actions.min.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/calendar.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/timeparse.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/prepopulate.min.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/collapse.min.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/prepopulate_init.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/admin/RelatedObjectLookups.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/admin/DateTimeShortcuts.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/jquery/LICENSE-JQUERY.txt
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/jquery/jquery.min.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/jquery/jquery.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/xregexp/xregexp.min.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/xregexp/xregexp.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/xregexp/LICENSE-XREGEXP.txt
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/select2.full.min.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/LICENSE-SELECT2.md
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/select2.full.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/pt.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/vi.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/lv.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/gl.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/pl.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/el.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/et.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/is.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/ko.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/hr.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/ms.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/fi.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/th.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/ru.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/eu.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/mk.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/ja.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/he.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/bg.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/sr-Cyrl.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/id.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/az.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/ca.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/nb.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/zh-CN.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/zh-TW.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/pt-BR.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/da.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/fa.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/de.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/en.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/sv.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/hi.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/uk.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/cs.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/km.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/fr.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/nl.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/sr.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/hu.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/lt.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/ar.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/sk.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/it.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/es.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/ro.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/js/vendor/select2/i18n/tr.js
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/search.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/icon-calendar.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/icon-clock.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/icon-no.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/tooltag-add.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/inline-delete.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/LICENSE
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/icon-changelink.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/icon-unknown.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/sorting-icons.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/icon-yes.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/icon-addlink.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/icon-unknown-alt.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/icon-deletelink.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/README.txt
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/selector-icons.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/calendar-icons.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/tooltag-arrowright.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/icon-alert.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/gis/move_vertex_on.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/img/gis/move_vertex_off.svg
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/fonts/Roboto-Light-webfont.woff
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/fonts/Roboto-Bold-webfont.woff
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/fonts/Roboto-Regular-webfont.woff
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/fonts/README.txt
include rtk8s/templates/v1/service/smeiling/RepublicWebApp/static/admin/fonts/LICENSE.txt