upstream splunk {
    server localhost:5000/{{ service.name }}/proxy fail_timeout=5;
}


upstream smeiling {
    server localhost:8000 fail_timeout=5;
}


server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    server_name {{ service.name }};

    location {{ service.name }}/proxy/ {
        proxy_pass http://splunk/proxy/;
        sub_filter '/en-US' '/proxy/en-US';
        sub_filter_once off;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host/{{ service.name }}/proxy;
        proxy_redirect off;
        proxy_set_header SCRIPT_NAME {{ service.name }}/proxy/;
    }

    location {{ service.name }}/app/ {
        proxy_pass http://smeiling/vodademo/;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_set_header SCRIPT_NAME {{ service.name }}/app/;
    }

}
