apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ app.name }}-proxy-app
  labels:
    name: {{ app.name }}-proxy
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ app.name }}-proxy-app
    spec:
      containers:
      - name: {{ app.name }}-proxy
        image: {{ app.deployment.repo }}/{{ app.name}}-proxy
        ports:
          - containerPort: 5000
        env:
          - name: SUBPATH
            value: /{{ app.name }}-proxy

        imagePullPolicy: Always

        resources:
          requests:
            cpu: 500m
            memory: 500Mi

        readinessProbe:
          httpGet:
            path: /{{ app.name }}-proxy/ping
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 15

        livenessProbe:
          httpGet:
            path: /{{ app.name }}-proxy/ping
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 15
