apiVersion: v1
kind: Service
metadata:
  name: {{ app.name }}-proxy
  labels:
    service: {{ app.name }}-proxy
spec:
  type: NodePort
  selector:
    app: {{ app.name }}-proxy-app

  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: {{ app.name }}proxy
