apiVersion: v1
kind: Service
metadata:
  name: {{ app.name }}-app
  labels:
    service: {{ app.name }}-app
spec:
  type: NodePort
  selector:
    app: {{ app.name }}-app
  ports:
  - port: 5000
    targetPort: 5000
    protocol: TCP
    name: {{ app.name }}app
